### Arquivos de desenvolvimento interno ###
docs/CURSOR_TASK.md
docs/CURSOR_TASK_TWO.MD
docs/cursor_task_three.md
docs/CURSOR_TASK.md
docs/PAYMENT_SERVICE_SPEC.md
docs/PAYMENT_OPTIMIZATION.md
docs/GATEWAY_COMPARISON.md
*.http
api-tests.http
Gateway-Collection.json
docs/HELP.md
docs/WEBHOOK_ARCHITECTURE.md
docs/YAML_CHANGELOG.md
conectaai-public-v1-api.yaml
.env.json
test-complete.ps1
test-*.ps1
docs/*.md

### Gradle ###
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.env
.env.real

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
